<form-content formTitle="Listado Proyectos">
    <section class="col-xs-12">
        <button class="btn btn-info btn-sm" routerLink="crear">
            <i class="fa fa-file" aria-hidden="true"></i>&nbsp;Nuevo Proyecto</button>
        <hr />
        <section class="table-responsive">

            <table class="table table-hover table-bordered tabla">

                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Código</th>
                        <th>Descripcion</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let proyecto of arrProyectos">
                        <td>{{proyecto.id}}</td>
                        <td>{{proyecto.codigo}}</td>
                        <td>{{proyecto.descripcion}}</td>
                        <td>
                            <button class="btn btn-info btn-sm" routerLink="edit/{{proyecto.id}}">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" (click)="eliminarProyecto(proyecto.id)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </section>
    </section>
</form-content>