<div class="row">
    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title border-bottom" *ngIf="formTitle" [innerHTML]="formTitle"></h4>
                <div class="card-text">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</div>