<form-content formTitle="Crear  Usuarios">

    <section class="row">
        <section class="form-group col-xs-12 col-lg-3 col-md-3">
            <label class="control-label">Usuario</label>
            <input type="text" maxlength="50" class="form-control input-sm" placeholder="Usuario"
                [(ngModel)]="usuario.usuario" style="text-transform: uppercase" />
        </section>
    </section>
    <section class="row">
        <section class="form-group  col-xs-12 col-lg-6 col-md-6">
            <label class="control-label">Identificacion</label>
            <input type="text" maxlength="45" class="form-control input-sm" placeholder="Identificacion"
                [(ngModel)]="usuario.identificacion" />
        </section>
    </section>
    <section class="row">
        <section class="form-group  col-xs-12 col-lg-6 col-md-6">
            <label class="control-label">Nombre Completo</label>
            <input type="text" maxlength="200" class="form-control input-sm" placeholder="Nombre Completo"
                [(ngModel)]="usuario.nombre_completo" />
        </section>
    </section>
    <section class="row">
        <section class="form-group  col-xs-12 col-lg-6 col-md-6">
            <label class="control-label">E-mail</label>
            <input type="text" maxlength="200" class="form-control input-sm" placeholder="E-mail"
                [(ngModel)]="usuario.email" />
        </section>
    </section>
    <section class="row">
        <section class="form-group  col-xs-12 col-lg-6 col-md-6">
            <label class="control-label" *ngIf="usuario.id">Clave (Dejar en blanco si no Modifica)</label>
            <input type="password" maxlength="30" class="form-control input-sm" placeholder="Clave"
                [(ngModel)]="usuario.clave" />
        </section>
    </section>
    <section class="row">
        <section class="col-xs-12 col-lg-12 col-md-12">
            <h3>Empresas</h3>
            <section class="row">
                <section class="col-xs-12 col-lg-6 col-md-6">
                    <select select2 [(ngModel)]="empresaSeleccionada" class="form-rounded form-control input-sm">
                        <option value=""></option>
                        <option *ngFor="let empresa of empresasList" [value]="empresa.id">
                            {{empresa.descripcion}}
                        </option>
                    </select>
                </section>
                <section class="col-xs-12 col-lg-2 col-md-2">
                    <button class="btn btn-success btn-sm" (click)="agregarEmpresa()">
                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Agregar
                    </button>
                </section>
                <section class="col-xs-12 col-md-12 col-lg-12">
                    <br />
                    <ul>
                        <li *ngFor="let empresa of empresaSeleccionadas">
                            <a>{{empresa.text}}</a>
                            <a style="margin-left: 10px;cursor: pointer">
                                <i class="fa fa-trash" aria-hidden="true" (click)="eliminarEmpresa(empresa.id)"></i>
                            </a>
                        </li>
                    </ul>
                </section>
            </section>
        </section>
        <section class="col-xs-12 col-lg-12 col-md-12">
            <h3>Proyectos</h3>
            <section class="row">
                <section class="col-xs-12 col-lg-6 col-md-6">
                    <select select2 [(ngModel)]="proyectoSeleccionada" class="form-rounded form-control input-sm">
                        <option value=""></option>
                        <option *ngFor="let proyecto of proyectosList" [value]="proyecto.id">
                            {{proyecto.descripcion}}
                        </option>
                    </select>
                </section>
                <section class="col-xs-12 col-lg-2 col-md-2">
                    <button class="btn btn-success btn-sm" (click)="agregarProyecto()">
                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Agregar
                    </button>
                </section>
                <section class="col-xs-12 col-md-12 col-lg-12">
                    <br />
                    <ul>
                        <li *ngFor="let proyecto of proyectosSeleccionados">
                            <a>{{proyecto.text}}</a>
                            <a style="margin-left: 10px;cursor: pointer">
                                <i class="fa fa-trash" aria-hidden="true" (click)="eliminarproyecto(proyecto.id)"></i>
                            </a>
                        </li>
                    </ul>
                </section>
            </section>

        </section>
    </section>
    <form-buttons>
        <button class="btn btn-success btn-sm" (click)="guardarUsuario()">
            <i class="fa-save fa" aria-hidden="true"></i>&nbsp;Guardar
        </button>
        <button class="btn btn-default btn-sm" routerLink="/usuarios">
            <i class="fa fa-sign-out-alt" aria-hidden="true"></i>&nbsp;Cancelar</button>
    </form-buttons>
</form-content>