<form-content formTitle="Listado Usuarios">
    <section class="col-xs-12">
        <button class="btn btn-info btn-sm" routerLink="crear">
            <i class="fa fa-file" aria-hidden="true"></i>&nbsp;Nuevo Usuario</button>
        <hr />
        <section class="table-responsive">

            <table class="table table-hover table-bordered tabla">

                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Usuario</th>
                        <th>Identificacion</th>
                        <th>Nombre Completo</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of arrUsuarios">
                        <td>{{usuario.id}}</td>
                        <td>{{usuario.usuario}}</td>
                        <td>{{usuario.identificacion}}</td>
                        <td>{{usuario.nombre_completo}}</td>
                        <td>
                            <button class="btn btn-info btn-sm" routerLink="edit/{{usuario.id}}">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" (click)="eliminarUsuario(usuario.id)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </section>
    </section>
</form-content>