<section
    style="width: 100%;height:500px;text-align: center;margin:auto;background-color: #fff;border-radius: 20px;vertical-align: middle;">
    <div style="  position: relative;
   top: 50%;
   transform: perspective(1px) translateY(-50%);">
        <img src="assets/images/neoactividades.svg" style="height:300px;width:100%;margin:0 auto" />
        <h2>Neo Actividades</h2>
    </div>

</section>