<form-content formTitle="Actividades">

    <section class="row">
        <section class="col-xs-12 col-md-12 col-lg-12 form-group">
            <br />
            <h2 style="font-weight: bolder;color: #27a9e3">{{getDayLabel()}}</h2>
        </section>
        <section class="col-xs-12 col-md-3 col-lg-3 form-group">
            <label class="control-label">Dia *</label>
            <input type="date" class="form-control input-sm" [(ngModel)]="objectActividades.dia"
                (change)="getActividades()" />
        </section>

    </section>

    <section class="row">
        <section class="form-group col-xs-12 col-md-12 col-lg-12">
            <button class="btn btn-info btn-sm" (click)="nuevaActividad()">
                <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;Nueva Actividad
            </button>
        </section>
    </section>
    <section class="row">
        <section class="col-xs-12 col-md-12 col-lg-12">
            <section class="table-responsive">
                <table class="table table-hover table-bordered tabla">
                    <thead>
                        <tr>
                            <th>Hora Inicio</th>
                            <th>Hora Fin</th>
                            <th>Cant. Hrs</th>
                            <th>Descripcion</th>
                            <th>Empresa</th>
                            <th>Proyecto</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let actividades of arrActividades;let $index = index">
                            <td>{{ actividades.hora_inicio }}</td>
                            <td>{{ actividades.hora_fin }}</td>
                            <td>{{ actividades.cantidad_horas }}</td>
                            <td>{{ actividades.descripcion }}</td>
                            <td>{{ actividades.nombreEmpresa }}</td>
                            <td>{{ actividades.nombreProyecto }}</td>
                            <td>
                                <button class="btn btn-info btn-sm" (click)="editarActividad(actividades, $index)">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm" (click)="eliminarActividad(actividades.id)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </section>
    </section>

    <hr id="seccionActividades" />

    <section class="row">
        <section class="form-group col-xs-12 col-md-3 col-lg-3">
            <label class="control-label">Empresa *</label><br />
            <select select2 id="empresa" [(ngModel)]="objectActividades.empresa_id" style="width: 100%">
                <option></option>
                <option *ngFor="let empresa of arrEmpresas" [value]="empresa.id">
                    {{empresa.descripcion}}
                </option>
            </select>
        </section>
        <section class="form-group col-xs-12 col-md-3 col-lg-3">
            <label class="control-label">proyecto *</label><br />
            <select select2 id="proyecto" [(ngModel)]="objectActividades.proyecto_id" style="width: 100%">
                <option></option>
                <option *ngFor="let proyecto of arrProyectos" [value]="proyecto.id">
                    {{proyecto.descripcion}}
                </option>
            </select>
        </section>
    </section>
    <section class="row">
        <section class="form-group col-xs-12 col-md-12 col-lg-12">
            <label class="control-label">Descripción Actividad *</label>
            <input type="text" class="form-control input-sm" [(ngModel)]="objectActividades.descripcion"
                maxlength="2000">
        </section>
    </section>
    <section class="row">
        <section class="form-group col-xs-12 col-md-3 col-lg-3">
            <label class="control-label">Hora Inicio *</label>
            <input smartClockpicker type="text" class="form-control input-sm"
                [(ngModel)]="objectActividades.hora_inicio" (onSelect)="getCantidadHoras()">
        </section>
        <section class="form-group col-xs-12 col-md-3 col-lg-3">
            <label class="control-label">Hora Fin *</label>
            <input smartClockpicker type="text" class="form-control input-sm" [(ngModel)]="objectActividades.hora_fin"
                (onSelect)="getCantidadHoras()">
        </section>
        <section class=" col-xs-12 col-sm-12 col-md-2 col-lg-2" style="text-align: center">
            <label style="font-weight: bolder;color:#27a9e3">Cantidad Horas:</label>
            <input type="number" class="form-control input-sm" [(ngModel)]="objectActividades.cantidad_horas" />
        </section>
        <section class=" col-xs-12 sol-sm-12 col-md-3 col-lg-3">
            <br />
            <button class="btn btn-success btn-sm btn-block" (click)="guardarActividad()">
                <i class="fa fa-save" aria-hidden="true"></i>&nbsp;Registrar Actividad
            </button>
        </section>
    </section>

    <form-buttons>
        <button class="btn btn-default btn-sm" routerLink="/">
            <i class="fa fa-sign-out-alt" aria-hidden="true"></i>&nbsp;Cancelar
        </button>
    </form-buttons>
</form-content>