<div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">
    <div class="auth-box bg-dark border-top ">
        <div id="loginform">
            <div class="text-center p-t-20 p-b-20">
                <span class="db"><img src="assets/images/na_icon_dasboard.png" alt="logo" /></span>
            </div>
            <!-- Form -->
            <form class="form-horizontal m-t-20" id="loginform" (ngSubmit)="login()">
                <div class="row p-b-30">
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-success text-white" id="basic-addon1">
                                    <i aria-hidden="true"  class="ti-user"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-lg" placeholder="Username"
                                aria-label="Username" aria-describedby="basic-addon1" maxlength="50" required="true"
                                [(ngModel)]="userLogin.usuario" name="usuario" style="text-transform: uppercase">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-warning text-white" id="basic-addon2">
                                    <i aria-hidden="true"  class="ti-pencil"></i></span>
                            </div>
                            <input type="password" class="form-control form-control-lg" placeholder="Password"
                                aria-label="Password" aria-describedby="basic-addon1" maxlength="20" required="true"
                                [(ngModel)]="userLogin.clave" name="clave">
                        </div>
                    </div>
                </div>
                <div class="row border-top ">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="p-t-20">
                                <button class="btn btn-info" id="to-recover" type="button" routerLink="recover">
                                    <i class="fa fa-lock m-r-5" aria-hidden="true"></i> Lost password?</button>
                                <button class="btn btn-success float-right" type="submit"
                                    [disabled]="isLogginIn">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>