<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <!-- MAIN_LEVEL -->
                <li class="sidebar-item" *ngFor="let menu of arrMenu | filter:'menuPadre':{menuPadre:0}">
                    <a *ngIf="menu.menuLink && menu.canShow(userRoles)"
                        class="sidebar-link waves-effect waves-dark sidebar-link"
                        [ngClass]="{'has-arrow':menu.menuHijos}" routerLink="{{menu.menuLink}}"
                        routerLinkActive="active">
                        <i class="{{menu.menuIcon}}"></i>
                        <span class="hide-menu">{{menu.menuDescripcion}}</span>
                    </a>
                    <a *ngIf="!menu.menuLink && menu.canShow(userRoles)"
                        class="sidebar-link waves-effect waves-dark sidebar-link"
                        [ngClass]="{'has-arrow':menu.menuHijos}">
                        <i class="{{menu.menuIcon}}"></i>
                        <span class="hide-menu">{{menu.menuDescripcion}}</span>
                    </a>

                    <!-- FIRST_LEVEL -->
                    <ul aria-expanded="false" class="collapse  first-level"
                        *ngIf="menu.menuHijos">
                        <li class="sidebar-item"
                            *ngFor="let menuHijo of  arrMenu | filter:'menuPadre':{menuPadre:menu.menuId}">
                            <a *ngIf="menuHijo.menuLink && menuHijo.canShow(userRoles)" class="sidebar-link waves-effect waves-dark sidebar-link"
                                [ngClass]="{'has-arrow':menuHijo.menuHijos}" routerLink="{{menuHijo.menuLink}}"
                                routerLinkActive="active">
                                <i class="{{menuHijo.menuIcon}}"></i>
                                <span class="hide-menu">{{menuHijo.menuDescripcion}}</span>
                            </a>
                            <a *ngIf="!menuHijo.menuLink && menuHijo.canShow(userRoles)" class="sidebar-link waves-effect waves-dark sidebar-link"
                                [ngClass]="{'has-arrow':menuHijo.menuHijos}">
                                <i class="{{menuHijo.menuIcon}}"></i>
                                <span class="hide-menu">{{menuHijo.menuDescripcion}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->