<form-content formTitle="Listado Empresas">
    <section class="col-xs-12">
        <button class="btn btn-info btn-sm" routerLink="crear">
            <i class="fa fa-file" aria-hidden="true"></i>&nbsp;Nueva Empresa</button>
        <hr />
        <section class="table-responsive">

            <table class="table table-hover table-bordered tabla">

                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Código</th>
                        <th>Descripcion</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empresa of arrEmpresas">
                        <td>{{empresa.id}}</td>
                        <td>{{empresa.codigo}}</td>
                        <td>{{empresa.descripcion}}</td>
                        <td>
                            <button class="btn btn-info btn-sm" routerLink="edit/{{empresa.id}}">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" (click)="eliminarEmpresa(empresa.id)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </section>
    </section>
</form-content>