<form-content formTitle="Listado Empresas">

    <section class="row">
        <section class="form-group col-xs-12 col-lg-3 col-md-3">
            <label class="control-label">Código</label>
            <input type="text" maxlength="10" class="form-control input-sm" placeholder="Código"
                [(ngModel)]="empresa.codigo" />
        </section>
    </section>
    <section class="row">
        <section class="form-group  col-xs-12 col-lg-6 col-md-6">
            <label class="control-label">Descripción</label>
            <input type="text" maxlength="100" class="form-control input-sm" placeholder="Descripción"
                [(ngModel)]="empresa.descripcion" />
        </section>
    </section>
    <form-buttons>
        <button class="btn btn-success btn-sm" (click)="guardarEmpresa()">
            <i class="fa-save fa" aria-hidden="true"></i>&nbsp;Guardar
        </button>
        <button class="btn btn-default btn-sm" routerLink="/empresas">
            <i class="fa fa-sign-out-alt" aria-hidden="true"></i>&nbsp;Cancelar</button>
    </form-buttons>
</form-content>