<form-content formTitle="Exportar Actividades">

    <section class="row">
        <section class="col-xs-12 col-md-12 col-lg-12 form-group">
            <br />
            <h2 style="font-weight: bolder;color: #27a9e3">{{labelSemana()}}</h2>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-3 col-lg-3 form-group">
            <label class="control-label">Desde *</label>
            <input type="date" class="form-control input-sm" [(ngModel)]="exportarObj.desde" />
        </section>
        <section class="col-xs-12 col-sm-12 col-md-3 col-lg-3 form-group">
            <label class="control-label">Hasta *</label>
            <input type="date" class="form-control input-sm" [(ngModel)]="exportarObj.hasta" />
        </section>
    </section>
    <section class="row">
        <section class="form-group col-xs-12 col-md-3 col-lg-3">
            <label class="control-label">Usuario *</label><br />
            <select select2 id="usuario" [(ngModel)]="exportarObj.usuario" style="width: 100%">
                <option></option>
                <option *ngFor="let usuario of arrUsuarios" [value]="usuario.id">
                    {{usuario.identificacion}} - {{usuario.nombre_completo}}
                </option>
            </select>
        </section>
        <section class="form-group col-xs-12 col-md-3 col-lg-3">
            <br />
            <button class="btn btn-default btn-md btn-block" (click)="listarDatos()">
                <i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;Listar
            </button>
        </section>
        <section class="form-group col-xs-12 col-md-3 col-lg-3">
            <br />
            <button class="btn btn-success btn-md btn-block" (click)="exportarDatos()" *ngIf="arrDataList.length">
                <i class="fa fa-file-excel" aria-hidden="true"></i>&nbsp;Exportar
            </button>
        </section>
    </section>
    <section class="row">
        <section class="col-xs-12 col-md-12 col-lg-12">
            <section class="table-responsive" style="max-height: 600px">
                <table class="table table-hover table-bordered tabla">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Horas</th>
                            <th>Cnt Hrs.</th>
                            <th>Usuario</th>
                            <th>Descripcion</th>
                            <th>Empresa</th>
                            <th>Proyecto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let actividades of arrDataList">
                            <td>{{ actividades.dia | date }}</td>
                            <td>{{ actividades.hora_inicio + ' - ' + actividades.hora_fin}}</td>
                            <td>{{ actividades.cantidad_horas }}</td>
                            <td>{{ actividades.nombre_completo }}</td>
                            <td>{{ actividades.descripcion }}</td>
                            <td>{{ actividades.nombreEmpresa }}</td>
                            <td>{{ actividades.nombreProyecto }}</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </section>
    </section>


    <form-buttons>
        <button class="btn btn-default btn-sm" routerLink="/">
            <i class="fa fa-sign-out-alt" aria-hidden="true"></i>&nbsp;Cancelar
        </button>
    </form-buttons>
</form-content>